<% provide(:title, 'Users Manage') %>
<h1>All users</h1>
<%= will_paginate %>
<div>
  <table class="table">
    <thead>
      <th>User name</th>
      <th>User email</th>
      <th colspan="4"></th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= link_to user.name, user %></th>
          <th><%= user.email %></th>
          <th>
            <%= link_to "View Profile", user, class: "btn btn-primary" %>
          </th>
          <th>
            <%= link_to "All reviews", "#", class: "btn btn-primary" %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
<%= will_paginate %>