<% provide(:title, "Add category") %>
<h1>Add new category</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([:admin, @category], html: {multipart: true}) do |c| %>
      <%= render "shared/error_messages", obj: c.object %>

      <%= c.label :avatar %>
      <%= c.file_field :avatar %>

      <%= c.label :name %>
      <%= c.text_field :name, class: "form-control" %>

      <%= c.label :description %>
      <%= c.text_area :description, class: "form-control" %>

      <%= c.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>