<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "BRS_5", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if user_signed_in? %>
          <% if current_user.role == "admin" %>
            <li class="dropdown">
              <a href= "#" class="dropdown-toggle" data-toggle="dropdown">
                Admin space<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Users manager", admin_users_path %></li>
                <li>
                  <%= link_to "Add users", new_admin_user_path %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Places manager", "#" %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Reviews manager", "#" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "All users", users_path %></li>
          <% end %>
          <li class="dropdown">
            <a href= "#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.email %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View Profile", current_user %></li>
              <li>
                <%= link_to "Edit profile", edit_user_registration_path %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
              </li>
            </ul>
          </li>
          <li class="round-image-50">
            <%= image_tag(current_user.avatar.url(:thumb)) %>
          </li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>